.entry-card .mood {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 8px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.mood.positive {
    background-color: #8FD694; /* green */
}

.mood.negative {
    background-color: #FF8C8C; /* red */
}

.mood.neutral {
    background-color: #FFD580; /* yellow */
}

.back {
    display: inline-block;
    margin-top: 20px;
    background-color: #264653;
}

.back:hover {
    background-color: #1B3B4B;
}
